.navbar{justify-content: space-between;
    display: flex;
    padding-right: 700px;
 
  
}
body{
    margin: 0;
    padding: 0;
}
.a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
li a{
    color: white;
    text-decoration: none;
}
.vdo{
    width: 100vw;
    height: 100vh;
    margin: 0;
    object-fit: cover;
    margin-top: -100px;
    z-index: -1;
}
.navbar{
    z-index: 999 !important;
    position: absolute;
    width: 50vw;
    display: flex;
    justify-content: space-around;
}

.logo img{
    height: 70px;
    filter: brightness(0), invert(1);
    margin-right: 40px;


}
.ferrari-section {
    position: absolute;
    bottom: 0;width: 100%;
    height: 40%;
    background: #05050513;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding-bottom: 40px;
   overflow: hidden;
  }
  
  /* part 2*/
.part2 {height: 100vh;
    background-color: white;
   
    justify-content: center;
  align-items: center;  
  margin-top: 100px;
  margin-right: 10px;
}  

:root {--primary-font: 'Arial', sans-serif;}


.news-slider {position: relative;
    width: 100%;
    max-width: 1100px;
    padding: 40px;
    font-family: var(--primary-font);
}

.slider-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;align-items: center;}

/* Text Styling */
.text-content h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 60px;
    letter-spacing: 1px;
}

.text-content p 
{
    color: #ab9f9f;
    line-height: 1.6;
    margin-bottom: 40px;
    font-size: 1rem;
}

/* Read More Button */
.read-more {display: flex;align-items: center;text-decoration: none;color: #000;font-weight: bold;font-size: 0.8rem;
  letter-spacing: 1px;}

.arrow-circle {
  width: 40px;
  height: 40px;
  border: 1px solid #d5caca;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  transition: 0.3s;
}

.read-more:hover .arrow-circle 
{
  background-color: #000;
  color: #fff;
}

/* Image Styling */
.image-content img 
{
  width: 100%;
  height: auto;
  display: block;
}

/* Side Arrows */
.nav-arrow
 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.prev { left: 0; }
.next { right: 0; }

/* Bottom Nav Styling */
.bottom-nav {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.pagination
 {
  display: flex;
  gap: 8px;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
  opacity: 0.3;
}

.dot.active 
{
  opacity: 1;
  outline: 2px solid red;
  outline-offset: 4px;
}
.divider {
  width: 60px;
  height: 1px;
  background-color: #ccc;
}

.view-all {
  text-decoration: none;
  color: #000;
  font-size: 0.8rem;
  font-weight: bold;
}


/* part 3*/
.part3 {
  background-image: url(./pic-avif/8.avif);
  background-repeat: cover;
  height: 100vh;
  margin-bottom: 5px;
  padding: 0;
  display: flex;
}
.part3s1 {
  background-image: url(./car-vdo);
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c3-p1 {
  margin-top: auto;
  margin-bottom: 75px;
}

.c3-t1 
{
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.m3-t1 
{
    font-size: clamp(1.3rem, 3vw, 2.5rem);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.8px;
  padding-bottom: 20px;
}

.discover-container
 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    opacity: 0.9;
  transition: opacity 0.3s;
}

.discover-container:hover 
{
    opacity: 1;
}

.discover-text 
{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
}

.circle-arrow
 {
    width: 42px;
    height: 42px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    display: flex;
align-items: center;
justify-content: center;
}

.circle-arrow svg 
{
    width: 18px;
    height: 18px;
}



.part3s2
 {
  background-image: url(./pic-avif/0.avif);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c3-p2 {
  margin-top: auto;
  margin-bottom: 75px;
}

.c3-t2
 {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.m3-t2
 {
    font-size: clamp(1.3rem, 3vw, 2.5rem);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.8px;
  padding-bottom: 20px;}

.discover-container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    opacity: 0.9;
  transition: opacity 0.3s;
}

.discover-container:hover
 {
    opacity: 1;
}

.discover-text
 {
    font-size: 13px
    ;
    font-weight: 600;
    letter-spacing: 2px;
}

.circle-arrow
 {
    width: 42px;
    height: 42px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    display: flex;
align-items: center;
justify-content: center;}

.circle-arrow svg 
{
    width: 18px;
    height: 18px;}




.part4 {
  background-image: url(./pic-avif/9.avif);
  background-repeat: no-repeat;
    width: 50%;
    margin: 0;
    padding: 0;
    display: flex;}
  

.part4s1 {
  background-image: url(./pic-avif/3.avif);
  height:50%;
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
}

.part4s2 {
  background-image: url(./pic-avif/4.avif);
  height: 50%;
  width: 50%;
  color: white
  ;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  

}


.part5
 {
  background-image: url(./pic-avif/8.avif);
    height: 50%;
    margin: 0px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 20vh 50vw;
}

.part5s1
 {
  background-image: url(./pic-avif/9.avif);
  
height: 50%;
  margin: 0px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: cover;
  padding: 0.5px;
  transition: 2s;
}

.part5s2
 {
background-image: url(./pic-avif/7.avif);
  background-position: center;

  height: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  padding: 0.5px;
  transition: 2s;
  
}
.subcribe {
  background-color: #303030;
  width: 100%;
  height: 40vh;
  margin-top: 5px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.s-text {
  padding: 20px;
  color: white;
  font-weight: 600;
    font-size: 15px;
    letter-spacing: 2.1px;
}

.sbtn {
  background-color: rgba(172, 17, 6, 0.863);
  color: white;
  padding: 20px 50px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 2.1px;
  transition: 2s;
}
.part3:hover,.part3s2:hover,.part4:hover,.part4s1:hover,.part4s1:hover,.part5:hover,.part5s1:hover,.part5s2:hover
{
  transform: scale(1.1);
  cursor: pointer;

}


.part6 {
  margin:0 ;
  padding: 0;
  background-color: #181818;
  color: white;
  display: flex;
  padding: 50px;
  justify-content: space-around;
  width: 100%;
  height: 70vh;
}

h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2.1px;
  
}

h6 {
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 2px;
}

.p6-s1, .p6-s2, .p6-s3, .p6-s4, .p6-s5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  
}

.d6 {
  padding: 0;
   
  display: flex;
  background-color: #181818;
  
}
.p6p7-2 {
  width: 90%;
  height: 1px;
  background-color: white;
}

.p6p7-1, .p6p7-3  {
  width: 5%;
  height: 0.8mm;
  background-color: #181818;
}


.part7 {
  margin: 0;
  padding: 0;
  background-color: #181818;
  color: white;
  width: 100%;
  height: 300PX;
}
.p7-s1{
  background-color:  #181818;
  color: white;
  display: flex;
  justify-content: space-around;
  height: 200PX;

}


/* Apply styles for screens between 600px and 900px OR above 1100px */
@media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) {
div.example {
font-size: 50px;
padding: 50px;
border: 8px solid black;
background: yellow;
}

}









